body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-container input, .output-container select {
    padding: 10px;
    font-size: 16px;
  }
  
  .input-container select, .output-container button {
    margin-left: 10px;
    font-size: 16px;
  }
  
  .output-container {
    display: flex;
    align-items: center;
  }
  
  .output-container button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .output-container p {
    margin-left: 10px;
  }
  